@import "tailwindcss";

.scrollbar-tactical::-webkit-scrollbar {
  width: 5px;
}

.scrollbar-tactical::-webkit-scrollbar-track {
  background: #111827;
}

.scrollbar-tactical::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #b0be64, #27395f);
  border-radius: 30px; 
}

.scrollbar-tactical::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #d4e157, #1e293b);
}

.saira-stencil-one {
  font-family: "Saira Stencil One", sans-serif;
}

.saira-condensed {
  font-family: "Saira Condensed", sans-serif;
}
.saira-extra-condensed {
  font-family: "Saira Extra Condensed", sans-serif;
}

@keyframes muzzle {
  0% { opacity: 0 }
  15% { opacity: 1 }
  100% { opacity: 0 }
}

.animate-muzzle {
  animation: muzzle 0.2s ease-out;
}

/* Tactical Glow Effects */
.glow-btn {
  transition: all 0.3s ease;
}

.glow-btn:hover {
  box-shadow:
    0 0 12px rgba(0, 0, 0, 0.4),
    0 0 22px rgba(176, 190, 100, 0.6);
  transform: scale(1.06);
}

.glow-card {
    box-shadow:
    0 0 15px rgba(0, 0, 0, 0.4),
    0 0 22px rgba(176, 190, 100, 0.6);
}